<h1>New Game</h1>
<ul class='list-group list-group-horizontal my-4'>
<% @letters.each do |letter| %>
    <li class='list-group-item'><%= letter %></li>
<% end %>
</ul>
<p>What is the longest word you can find ?</p>
<form action="/score" method="post" data-turbo="false">
  <input type="text" name="word" class='form-control mt-3'>
  <input type="submit" value="Play" class='btn btn-secondary mt-3'>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>
